body {
    margin-top: 50px;
}
.item1, .item2, .item3 {
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: gray;
    margin-left: 50px;
    vertical-align: middle;
    border: 1px solid black;
    border-bottom: none;
    color: white;
    position: relative;
}
a {
    display: none;
    text-decoration: none;
    color: white;
}
a:hover {
    display: block;
}
div:hover a {
    position: relative;
    box-sizing: border-box;
    padding-top: 15px;
    top: -34px;
    left: 50px; 
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-bottom: none;
    background-color: gray;
}
.item2:hover a {
    top: -84px;
}
.item3:hover a {
    top: -134px;
}
.item3 {
    border: 1px solid black;
}
div:hover a:last-of-type{
    border: 1px solid black;
}

