/* Ступеньки */

@keyframes step1 {
  0% {
    height: 50px;
    margin-top: 80px;
  }
  100% {
    height: 130px;
    margin-top: 0px;
  }
}

@keyframes step2 {
  0% {
    height: 70px;
    margin-top: 60px;
  }
  100% {
    height: 110px;
    margin-top: 20px;
  }
}

@keyframes step3 {
  0% {
    height: 10px;
    margin-top: 120px;
  }
  100% {
    height: 90px;
    margin-top: 40px;
  }
}

@keyframes step4 {
  0% {
    height: 110px;
    margin-top: 20px;
  }
  100% {
    height: 70px;
    margin-top: 60px;
  }
}

@keyframes step5 {
  0% {
    height: 130px;
  }
  100% {
    height: 50px;
    margin-top: 80px;
  }
}

/* Прыжки */

@keyframes jump {
  0% {
    bottom: 80px;
    left: 0;
  }
  1% {
    bottom: 60px;
    left: 0;
  }
  2% {
    bottom: 50px;
    left: 20px;
  }
  3%{
    bottom: 100px;
    left: 40px;
  }
  6% {
    bottom: 120px;
  }
  9%{
    bottom: 90px;
    left: 90px;
  }
  12% {
    bottom: 70px;
    left: 110px;
  }
  16%{
    bottom: 130px;
    left: 150px;
  }
  19% {
    bottom: 150px;
  }
  22%{
    bottom: 110px;
    left: 200px;
  }
  25% {
    bottom: 90px;
    left: 220px;
  }
  28%{
    bottom: 160px;
    left: 260px;
  }
  31% {
    bottom: 180px;
  }
  34%{
    bottom: 130px;
    left: 310px;
  }
  37% {
    bottom: 110px;
    left: 330px;
  }
  40%{
    bottom: 190px;
    left: 370px;
  }
  43% {
    bottom: 210px;
  }
  46%{
    bottom: 190px;
    left: 420px;
  }
  50% {
    bottom: 170px;
    left: 440px;
  }


  /* Обратно */


  51% {
    bottom: 130px;
    left: 440px;
  }
  52% {
    bottom: 90px;
    left: 440px;
  }
  53% {
    bottom: 50px;
  }
  56% {
    bottom: 100px;
    left: 400px;
  }
  59% {
    bottom: 120px;
  }
  61% {
    bottom: 100px;
    left: 350px;
  }
  64% {
    bottom: 70px;
    left: 330px;
  }
  67% {
    bottom: 130px;
    left: 290px;
  }
  70% {
    bottom: 150px;
  }
  73% {
    bottom: 130px;
    left: 240px;
  }
  76% {
    bottom: 90px;
    left: 220px;
  }
  79% {
    bottom: 160px;
    left: 180px;
  }
  82% {
    bottom: 180px;
  }
  85% {
    bottom: 160px;
    left: 130px;
  }
  88% {
    bottom: 110px;
    left: 110px;
  }
  91% {
    bottom: 190px;
    left: 70px;
  }
  94% {
    bottom: 210px;
  }
  97% {
    bottom: 150px;
    left: 0px;
  }
  100% {
    bottom: 130px;
    left: 0;
  }
}

.main {
  position: relative;
  margin-top: 10rem;
  margin-left: 10rem;;
}

.ball {
  position: absolute;
  bottom: 100px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: red;
  animation: jump 10s linear 3s forwards;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 130px;
}

.step{
  width: 50px;
  border: 1px solid black;
}

.step1 {
  height: 50px;
  margin-top: 80px;
  animation: step1 2s linear 8s forwards;
}

.step2 {
  height: 70px;
  margin-top: 60px;
  animation: step2 1s linear 8s forwards;
}

.step3 {
  height: 90px;
  margin-top: 40px;
  animation: step3 600ms linear 8s forwards;
}

.step4 {
  height: 110px;
  margin-top: 20px;
  animation: step4 400ms linear 8s forwards;
}

.step5 {
  height: 130px;
  animation: step5 200ms linear 8s forwards;
}
