.main img {
    margin-left: 100px;
    margin-top: 20px;
    transition: border 2s ease 0s,
                border-radius 2s ease 4s,
                transform 6s ease 6s;
}
img:hover {
    border: 5px solid black;
    border-radius: 15px;
    transform: rotate(180deg);
}
