button {
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 20px -15px 10px 5px gray;
    margin: 10%;
}
button:active {
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    box-shadow: none;
}
button:focus {
    outline: none;
}